/* Animations pour les transitions entre sections */
.section-enter {
  opacity: 0;
  transform: translateY(10px);
}

.section-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.section-exit {
  opacity: 1;
}

.section-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms, transform 200ms;
}
